@use "./base" as *;

.mobile-img{
    @include displayImg(true);
}

.desktop-img{
    @include displayImg(false);
}

.background{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient($bg-gradient-start, $bg-gradient-end);
}

.container{
    @include relativeContainer;
    padding: 10% 6%;
    overflow: auto;
    @include desktop{
        padding: 9% 6%;
        height: 100vh;
        margin: auto;
    }
}

.faq-card{
    @include relativeContainer;
    background-color: $card-color;
    border-radius: 8vw;
    margin-top: 35%;
    padding-bottom: 15%;
    box-shadow: 0 20px 20px -13px $subheader-color;
    height: 100%;

    @include desktop{
        display: flex;
        margin: auto auto;
        width: 80%;
        border-radius: 2rem;
        padding-bottom: 0;
    }

    .faq-visual-container{
        @include relativeContainer;
        .faq-main-graphic{
            position: absolute;
            margin: auto;
            width: 85%;
            right: 0;
            left: 0;
            padding-right: 7.7%;
            transform: translate(0, -55%);
        }

        .faq-bg-graphic{
            margin: auto;
            width: 68%;
        }

        @include desktop{
            width: 90%;
            
            .faq-box-graphic{
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: 1;
                transform: scale(.8) translate(-62%, 25%);
            }

            .faq-cut-container{
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .faq-main-graphic{
                    margin: auto 0;
                    top: 0;
                    bottom: 0;
                    padding: 0;
                    transform: scale(1.2) translate(-8%, 0);
                }
    
                .faq-bg-graphic{
                    position: absolute;
                    margin: auto 0;
                    top: 0;
                    bottom: 0;
                    padding: 0;
                    transform: scale(1.2) translate(-8%, 0);
                    width: 85%;
                }
            }
        }
    }

    .faq-card-content{
        padding: 0 7%;

        .card-title{
            text-align: center;
            font-size: 2em;
            color: $header-color;
            margin: 12% 0 6%;

            @include desktop{
                margin-top: 20%;
                text-align: left;

            }
        }

        .faq-dropdown{
            @include relativeContainer;

            .arrow-btn{
                position: absolute;
                margin: 5.5% 0 0;
                right: 0;
                top: 0;
                border: none;
                background-color: transparent;

                .arrow-icon{
                    height: .6em;
                }
            }

            .faq-qn{
                font-weight: weight(regular);
                font-size: 83%;
                color: $subheader-color;
                padding: 6% 0;
            }

            .faq-ans{
                display: none;
            }

            .faq-divider{
                border-style: solid none none none;
                border-width: 1px;
                border-color: $divider-color;
            }

        }

        .faq-dropdown.selected{
            .faq-qn{
                font-weight: weight(bold);
                padding-bottom: 4%;
                color: $header-color;

                @include desktop{
                    font-size: 90%;
                }
            }

            .faq-ans{
                display: block;
                font-weight: weight(regular);
                font-size: 0.75rem;
                line-height: 1.6;
                color: $content-color;
                margin-bottom: 5%;
                width: 94%;
            }
            .arrow-icon{
                transform: rotate(0.5turn);
            }
        }

        @include desktop{
            padding: 0 15% 0 2%;
            width: 90%;

        }
    }


}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}